body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 175, 239);
    text-align: center;
    align-items: center;
}

.images .choices .result{
    width: 100%;
    text-align: center;
}

picture img{
width: 200px;
height: 200px;
border-radius: 50%;
}

#btn_inicio{
    background: linear-gradient(to bottom right, #6600cc 0%, #cc3399 100%);
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 3rem;
    left: 10rem;
}

#btn_inicio:hover{
   background: linear-gradient(to bottom right, #480090 0%, #81185e 100%);
   color: #fefefe;
}
